.download {
  text-align: center;
  // .download__main-text

  &__main-text {
    font-weight: 500;
    font-size: $_30px;
    line-height: calc(35em / 30);
    margin-bottom: $_20px;
  }

  // .download__text

  &__text {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(21em / 18);
    margin-bottom: $_48px;
  }

  // .download__btn

  &__btn {
    margin: auto;
  }
}
.container {
}
