* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.container {
  max-width: 1170px;
  padding: 0 0.938rem;
  margin: auto;
  position: relative;
  z-index: 2;
}

section {
  padding: 5rem 0;
}
