@import 'cdn.scss';
@import 'components.scss';
@import 'header.scss';
@import 'iconsfont.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body.lock {
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  z-index: 2;
  @media (max-width: 1024px) {
    max-width: 984px;
  }
  @media (max-width: 768px) {
    max-width: 720px;
  }
  @media (max-width: 320px) {
    max-width: 280px;
    padding: 0;
  }
}

section {
  padding: 6.34rem 0;
}
.colored-btn {
  display: block;
  width: 370px;
  background-color: $orange;
  font-weight: 900;
  font-size: $_24px;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 80px;
  a {
    color: $white;
  }
  &:hover {
    background-color: rgba(231, 20, 20, 1);
  }
  &:active {
    box-shadow: 0.222rem 0.222rem $_30px #ff4343;
  }
  @media (max-width: 1024px) {
    width: 314px;
    line-height: 80px;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 320px) {
    width: 280px;
    line-height: 60px;
  }
}
